*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

body{
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   background-image: url(pixel2.gif);
  background-size: cover;
  
}
